@{
    Layout = null;
}
@model tortuga.MongoData.Entities.Model.DocumentSchema

<style>
    #navcontainer ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #navcontainer .document-item {
        display: block;
        color: #FFF;
        background-color: #036;
        width: 50%;
        padding: 3px 12px 3px 8px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        font-weight: bold;
    }

    #navcontainer a {
        color: #FFF;
    }

        #navcontainer .document-item:hover {
            background-color: #333;
            color: #FFF;
        }

    #navcontainer li li .document-item {
        display: block;
        color: #FFF;
        background-color: #333;
        width: 50%;
        padding: 3px 3px 3px 17px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        font-weight: normal;
    }

    #navcontainer li li li .document-item {
        display: block;
        color: #FFF;
        background-color: #333;
        width: 50%;
        padding: 3px 3px 3px 25px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        font-weight: normal;
    }

    #navcontainer li li li li .document-item {
        display: block;
        color: #FFF;
        background-color: #333;
        width: 50%;
        padding: 3px 3px 3px 40px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        font-weight: normal;
    }

    #navcontainer li li li li li .document-item {
        display: block;
        color: #FFF;
        background-color: #333;
        width: 50%;
        padding: 3px 3px 3px 55px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        font-weight: normal;
    }

</style>



@DisplayItemList(Model.Fields)




@helper DisplayItemList(List<tortuga.MongoData.Entities.Model.Field> fields)
{
    if (fields != null)
    {
        if (fields.Any())
        {
            <ul>
                @foreach (var field in fields)
                {
                    <li><!--data-toggle="modal" data-target="#md-normal"-->
                        <div class="document-item" data-document-guid="@field.FieldGuid">
                            <a href="#" id="edit-field" data-document-guid="@field.FieldGuid"><b>@field.Name</b></a>
                                <i>(@field.DataType)</i>
                                @if (field.DataType == tortuga.MongoData.Entities.Model.DataType.Document)
                                {
                                    <a href="#" id="Add-Field-Child" data-parent-field="@field.FieldGuid">Add Fields</a>
                                }
                            <div class="pull-right">
                                <a href="#"><i class="fa fa-minus-circle" style="color:#f35958;"></i></a>
                            </div>
                        </div>
                        @DisplayItemList(field.Fields)
                    </li>
                }
            </ul>
        }
    }
}

