@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Title-->
    <title>CAPLET |  Admin HTML Themes</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="content/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="content/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="content/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="content/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="content/assets/ico/favicon.ico">

    <!-- CSS Stylesheet-->
    <link type="text/css" rel="stylesheet" href="content/assets/css/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="content/assets/css/bootstrap/bootstrap-themes.css" />
    <link type="text/css" rel="stylesheet" href="content/assets/css/style.css" />

    <!-- Styleswitch if  you don't chang theme , you can delete -->
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="content/assets/css/styleTheme1.css" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="content/assets/css/styleTheme2.css" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="content/assets/css/styleTheme3.css" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="content/assets/css/styleTheme4.css" />

</head>
<body>
    <div id="wrapper">
    
    @Html.Partial("~/Views/Partial/Dashboard/Header.cshtml")

    @Html.Partial("~/Views/Partial/Dashboard/LeftPane.cshtml")

    @Html.Partial("~/Views/Partial/Dashboard/TopSearch.cshtml")




    <!--
        /////////////////////////////////////////////////////////////////////////
        //////////     MAIN SHOW CONTENT     //////////
        //////////////////////////////////////////////////////////////////////
        -->
        <div id="main">
            @Html.Partial("~/Views/Partial/Dashboard/Breadcrumb.cshtml")

            <div id="content">
                @RenderBody()
                <!-- //content > row-->
            </div>
            <!-- //content-->

            <footer id="site-footer">
                <section>&copy; Copyright 2014, By zicedemo</section>
            </footer>
        </div>
        <!-- //main-->
        <!--
        ///////////////////////////////////////////////////////////////////
        //////////     MODAL MESSAGES     //////////
        ///////////////////////////////////////////////////////////////
        -->
        <div id="md-messages" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="450">
            <div class="modal-header bd-theme-inverse-darken">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title"><i class="fa fa-inbox"></i> Inbox messages</h4>
            </div>
            <!-- //modal-header-->
            <div class="modal-body" style="padding:0">
                <div class="widget-im">
                    <ul>
                        <li>
                            <section class="thumbnail-in">
                                <div class="widget-im-tools tooltip-area pull-right">
                                    <span>
                                        <i class="fa fa-paperclip"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-reply-all"></i>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0)" class="im-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                    </span>
                                    <span>
                                        <time datetime="2013-11-16">1 : 52 am</time>
                                    </span>
                                </div>
                                <h4>
                                    <a href="javascript:void(0)">Edlado Holder</a>
                                </h4>
                                <div class="im-thumbnail"><img alt="" src="assets/img/avatar2.png" /></div>
                                <label></label>
                                <div class="pre-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            </section>
                            <div class="im-confirm-group">
                                <div class=" btn-group btn-group-justified">
                                    <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="yes">YES.</a>
                                    <a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">NO.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <section class="thumbnail-in">
                                <div class="widget-im-tools tooltip-area pull-right">
                                    <span>
                                        <i class="fa fa-paperclip"></i>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0)" class="im-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                    </span>
                                    <span>
                                        <time datetime="2013-11-16">12 : 00 pm</time>
                                    </span>
                                </div>
                                <h4>
                                    <a href="javascript:void(0)">Laine Franchi</a>
                                </h4>
                                <div class="im-thumbnail"><i class="glyphicon glyphicon-user"></i></div>
                                <div class="pre-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            </section>
                            <div class="im-confirm-group">
                                <div class=" btn-group btn-group-justified">
                                    <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="yes">YES.</a>
                                    <a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">NO.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <section class="thumbnail-in">
                                <div class="widget-im-tools tooltip-area pull-right">
                                    <span>
                                        <a href="javascript:void(0)" class="im-delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                    </span>
                                    <span>
                                        <time datetime="2013-11-16">4 : 45 pm</time>
                                    </span>
                                </div>
                                <h4>
                                    <a href="javascript:void(0)">Cinda Collar</a>
                                </h4>
                                <div class="im-thumbnail"><img alt="" src="assets/img/avatar.png" /></div>
                                <label data-color="theme"></label>
                                <div class="pre-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            </section>
                            <div class="im-confirm-group">
                                <div class=" btn-group btn-group-justified">
                                    <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="yes">YES.</a>
                                    <a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">NO.</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-inverse btn-block btn-lg" title="See More"><i class="fa fa-plus"></i></button>
                </div>
                <!-- //widget-im-->
            </div>
            <!-- //modal-body-->
        </div>
        <!-- //modal-->
        <!--
        //////////////////////////////////////////////////////////////////////////
        //////////     MODAL NOTIFICATION     //////////
        //////////////////////////////////////////////////////////////////////
        -->
        <div id="md-notification" class="modal fade md-stickTop bg-danger" tabindex="-1" data-width="500">
            <div class="modal-header bd-danger-darken">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title"><i class="fa fa-bell-o"></i> Notification</h4>
            </div>
            <!-- //modal-header-->
            <div class="modal-body" style="padding:0">
                <div class="widget-im notification">
                    <ul>
                        <li>
                            <section class="thumbnail-in">
                                <div class="widget-im-tools tooltip-area pull-right">
                                    <span>
                                        <time class="timeago lasted" datetime="2014">when you opened the page</time>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="Action"><i class="fa fa-keyboard-o"></i></a>
                                    </span>
                                </div>
                                <h4>Your request approved</h4>
                                <div class="im-thumbnail bg-theme-inverse"><i class="fa fa-check"></i></div>
                                <div class="pre-text">One Button (click to remove this)</div>
                            </section>
                            <div class="im-confirm-group">
                                <div class=" btn-group btn-group-justified">
                                    <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="accept">Accept.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <section class="thumbnail-in">
                                <div class="widget-im-tools tooltip-area pull-right">
                                    <span>
                                        <time class="timeago" datetime="2013-11-17T14:24:17Z">timeago</time>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="Action"><i class="fa fa-keyboard-o"></i></a>
                                    </span>
                                </div>
                                <h4>Dashboard new design!! you want to see now ? </h4>
                                <div class="im-thumbnail bg-theme"><i class="fa fa-bell-o"></i></div>
                                <div class="pre-text">Two Button (with link and click to close this) Lorem ipsum dolor sit amet, consectetur adipisicing elit, </div>
                            </section>
                            <div class="im-confirm-group">
                                <div class=" btn-group btn-group-justified">
                                    <a class="btn btn-inverse" href="dashboard.html">Go Now.</a>
                                    <a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">Later.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <section class="thumbnail-in">
                                <div class="widget-im-tools tooltip-area pull-right">
                                    <span>
                                        <time class="timeago" datetime="2013-11-17T01:24:17Z">timeago</time>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="Action"><i class="fa fa-keyboard-o"></i></a>
                                    </span>
                                </div>
                                <h4>Error 404 <small>( File not  found )</small></h4>
                                <div class="im-thumbnail bg-warning"><i class="fa fa-exclamation-triangle"></i></div>
                                <div class="pre-text">Two Button (click to  action and remove) </div>
                            </section>
                            <div class="im-confirm-group">
                                <div class=" btn-group btn-group-justified">
                                    <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="accept">Accept.</a>
                                    <a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="actionNow">Fixed now.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <section class="thumbnail-in">
                                <div class="widget-im-tools tooltip-area pull-right">
                                    <span>
                                        <time class="timeago" datetime="2013-09-17T09:24:17Z">timeago</time>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="Action"><i class="fa fa-keyboard-o"></i></a>
                                    </span>
                                </div>
                                <h4>Upgrade Premium ?</h4>
                                <div class="im-thumbnail bg-inverse">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <div class="pre-text"> Three button (test action) </div>
                            </section>
                            <div class="im-confirm-group">
                                <div class=" btn-group btn-group-justified">
                                    <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="actionNow">Now.</a>
                                    <a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">Later.</a>
                                    <a class="btn btn-danger im-confirm" href="javascript:void(0)" data-confirm="yes">Delete.</a>
                                </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- //widget-im-->
        </div>
        <!-- //modal-body-->
    </div>
    <!-- //modal-->

        @Html.Partial("~/Views/Partial/Dashboard/LeftMenu.cshtml")

        @Html.Partial("~/Views/Partial/Dashboard/RightMenu.cshtml")


    </div>
    <!-- //wrapper-->
    <!--
    ////////////////////////////////////////////////////////////////////////
    //////////     JAVASCRIPT  LIBRARY     //////////
    /////////////////////////////////////////////////////////////////////
    -->
    <!-- Jquery Library -->
    <script type="text/javascript" src="content/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="content/assets/js/jquery.ui.min.js"></script>
    <script type="text/javascript" src="content/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Modernizr Library For HTML5 And CSS3 -->
    <script type="text/javascript" src="content/assets/js/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="content/assets/plugins/mmenu/jquery.mmenu.js"></script>
    <script type="text/javascript" src="content/assets/js/styleswitch.js"></script>
    <script type="text/javascript" src="content/assets/js/styleswitch.js"></script>
    <!-- Library 10+ Form plugins-->
    <script type="text/javascript" src="content/assets/plugins/form/form.js"></script>
    <!-- Datetime plugins -->
    <script type="text/javascript" src="content/assets/plugins/datetime/datetime.js"></script>
    <!-- Library Chart-->
    <script type="text/javascript" src="content/assets/plugins/chart/chart.js"></script>
    <!-- Library  5+ plugins for bootstrap -->
    <script type="text/javascript" src="content/assets/plugins/pluginsForBS/pluginsForBS.js"></script>
    <!-- Library 10+ miscellaneous plugins -->
    <script type="text/javascript" src="content/assets/plugins/miscellaneous/miscellaneous.js"></script>
    <!-- Library Themes Customize-->
    <script type="text/javascript" src="content/assets/js/caplet.custom.js"></script>

</body>
</html>
